<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TpacTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TpacTool.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="PreviewLight" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PreviewCenter" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PreviewKeepScale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewInertia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewShowGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportModelTexture" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExportModelDiffuseOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportModelLargerScale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportModelNegYForward" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportModelObjYUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportModelFbxAscii" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportAnimationFrameRate" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="ExportModelAllLods" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviewTransitionInertia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewScaleInertia" serializeAs="String">
        <value>True</value>
      </setting>
    </TpacTool.Properties.Settings>
  </userSettings>
</configuration>
